<style>
  h6 {text-align:right; margin:0;}
</style>

<h6><a href="/artists">Artist Names</a></h6>
<h6><a href="/records">All Records</a></h6>


<h1>Artists</h1>
<% @artists.each do |artist| %>
  <p><%= artist.first_name + " " + artist.name %></p>
<% end %>
