<h3>Create A New Artist</h3>

<form action="/artists" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Last Name:</p>
  <input type='text' name='artist[name]'/><br/>
  <p>First Name:</p>
  <input type='text' name='artist[first_name]'/><br/>
  <p>Age:</p>
  <input type='text' name='artist[age]'/><br/>
  <p>Alive? (true or false)</p>
  <input type='text' name='artist[alive]'/><br/>
  <br>
  <input type='submit' value="Create Artist"/>
</form>
