<style>
table, th, td {
  border:1px solid black;
}
</style>
<h4><a href=adk_mountains>ADK Mountains</a></h4>
<h4><a href=hikers>Hikers</a></h4>
<h4><a href=adk_mountains/new>Create New Adk Mountain</a></h4>

<h1>ADK Mountains</h1>
<table>
  <tr>
    <th> edit
    <th> delete
    <th> name
    <th> created_at
  </tr>
  <% @adk_mountains.each do |adk_mountain| %>
  <tr>
    <th> <%= link_to("Edit", "/adk_mountains/#{adk_mountain.id}/edit")%> </th>
    <th> <%= link_to('Delete', "/adk_mountains/#{adk_mountain.id}", method: :delete)%> </th>
    <section>
    <th> <%= adk_mountain.name %> </th>
    <th> <%= adk_mountain.created_at %> </th>
    </section>
  </tr>
  <% end %>
</table>

#don't you need </th> after the delete link_to?
